<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2> Welcome to the Tax Holdings Service!</h2>
    <a href="/login" class="btn">Login</a>
    <a href="/register" class="btn">Sign Up!</a>
  </div>
</header>


<%- include('partials/footer'); -%>