<%- include('partials/header'); -%>

<form action="/passwordMail">
  <h2>Reset Password</h2>
  <div class="reset error alert alert-info" id="reset-msg" role="alert">
    Enter your email and we will send you a link
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" name="email" class="form-control" placeholder="example@gmail.com" required />
  </div>
  <button class="btn btn-primary">Send reset link</button>
</form>

<script>
  const alertDiv = document.getElementById("reset-msg");
  const form = document.querySelector("form");
  form.addEventListener("submit", async e => {
    e.preventDefault();
    const email = form.email.value;
    try {
      const { data } = await axios.post("/passwordMail", { email });
      if (data.msg) {
        alertDiv.className = "reset error alert alert-success";
        alertDiv.textContent = data.msg;
      }
    } catch (err) {
      alertDiv.className = "reset error alert alert-danger";
      if (err.response && err.response.data) {
        const { hawkError } = err.response.data;
        if (hawkError && hawkError.msg) alertDiv.textContent = hawkError.msg;
      }

      if ("" === alertDiv.textContent) {
        alertDiv.textContent = "Something went wrong try again later...";
      }
    }
  });
</script>
