<%- include('partials/header'); -%>

<form style="margin-left: 10px; margin-right: 50px" action="/passwordReset">
  <h2>Create new Password</h2>
  <div class="reset error alert alert-info" id="reset-pass-msg" role="alert">
    Please enter your new password.
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">New Password</label>
    <input type="password" name="password" class="form-control" required />
  </div>
  <div class="mb-3">
    <label for="confirmPassword" class="form-label"> Confirm Password</label>
    <input type="password" name="confirmPassword" class="form-control" required />
  </div>
  <button class="btn btn-primary">Reset</button>
</form>

<script>
  const alertDiv = document.getElementById("reset-pass-msg");
  const form = document.querySelector("form");
  form.addEventListener("submit", async e => {
    e.preventDefault();
    const newPassword = form.password.value;
    const confirmPassword = form.confirmPassword.value;
    try {
      const params = new URLSearchParams(document.location.search);
      const splitLocation = location.href.split("/");
      const token = splitLocation[splitLocation.length - 1];
      const { data } = await axios.put(`/reset/${token}`, {
        newPassword,
        confirmPassword
      });
      console.log(data);
      if (data.message) {
        alertDiv.className = "reset error alert alert-success";
        alertDiv.textContent = `${data.message} Redirecting you to login...`;
        await new Promise(resolve => setTimeout(resolve, 1000));
        location.assign("/login");
      }
    } catch (err) {
      alertDiv.className = "reset error alert alert-danger";
      if (err.response && err.response.data) {
        const { hawkError } = err.response.data;
        if (hawkError && hawkError.msg) alertDiv.textContent = hawkError.msg;
      }

      if ("" === alertDiv.textContent) {
        alertDiv.textContent = "Something went wrong try again later...";
      }
    }
  });
</script>
