<%- include('partials/header') -%>
<form action="/register">
  <h2>Register</h2>
  <div class="register error alert alert-danger" role="alert"></div>
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <input type="text" name="firstName" class="form-control" placeholder="First Name" required />
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <input type="text" name="lastName" class="form-control" placeholder="Last Name" required />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" name="email" class="form-control" placeholder="example@gmail.com" required />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" required />
  </div>
  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" name="confirmPassword" required />
  </div>
  <button class="btn btn-primary">Sign up</button>
  <a href="/login">Have an account? Login here</a>
</form>
<%- include('partials/footer') -%>

<script>
  const form = document.querySelector("form");
  const registrationError = document.querySelector(".register.error");

  form.addEventListener("submit", async e => {
    e.preventDefault();

    registrationError.textContent = "";

    const firstName = form.firstName.value;
    const lastName = form.lastName.value;
    const email = form.email.value;
    const password = form.password.value;
    const confirmPassword = form.confirmPassword.value;

    try {
      const { data } = await axios.post("/register", {
        firstName,
        lastName,
        email,
        password,
        confirmPassword
      });
      if (data.created) {
        location.assign("/login");
      }
    } catch (err) {
      if (err.response && err.response.data) {
        const { hawkError } = err.response.data;
        if (hawkError && hawkError.msg) registrationError.textContent = hawkError.msg;
      }

      if ("" === registrationError.textContent) {
        registrationError.textContent = "Something went wrong try again later...";
      }
    }
  });
</script>
