<%- include('partials/header') -%>
<form action="/register">
  <h2>Register</h2>
  <div class="register error"></div>
  <label for="firstName">First Name</label>
  <input type="text" name="firstName" required />
  <div class="firstName error"></div>
  <label for="lastName">Last Name</label>
  <input type="text" name="lastName" required />
  <div class="lastName error"></div>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <label for="confirmPassword">Confirm Password</label>
  <input type="password" name="confirmPassword" required />
  <button class="mdc-button">Sign up</button>
  <a href="/login">Have an account? Login here</a>
</form>
<%- include('partials/footer') -%>

<script>
  const form = document.querySelector("form");
  const registrationError = document.querySelector(".register.error");

  form.addEventListener("submit", async e => {
    e.preventDefault();

    registrationError.textContent = "";

    const firstName = form.firstName.value;
    const lastName = form.lastName.value;
    const email = form.email.value;
    const password = form.password.value;
    const confirmPassword = form.confirmPassword.value;

    try {
      const { data } = await axios.post("/register", {
        firstName,
        lastName,
        email,
        password,
        confirmPassword
      });
      if (data.created) {
        location.assign("/login");
      }
    } catch (err) {
      if (err.response && err.response.data) {
        const { hawkError } = err.response.data;
        if (hawkError && hawkError.msg) registrationError.textContent = hawkError.msg;
      }

      if ("" === registrationError.textContent) {
        registrationError.textContent = "Something went wrong try again later...";
      }
    }
  });
</script>
