<%- include('partials/header'); -%> <%- include('partials/navbar'); -%>
<div style="text-align: center; margin: 10px">
  <a href="setting/deleteAcc" style="font-size: xx-large" class="btn btn-info">Account Settings</a>
</div>
