<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info Hawk</title>
    <link rel="stylesheet" href="/styles.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js"
      integrity="sha512-MNW6IbpNuZZ2VH9ngFhzh6cUt8L/0rSVa60F8L22K1H72ro4Ki3M/816eSDLnhICu7vwH/+/yb8oB3BtBLhMsA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  </head>
  <body>
    <nav>
      <h1><a href="/">Hawk services</a></h1>
      <ul>
        <% if (admin) { %>
        <li>Hello, <%= auth.firstName %>!</li>
        <li><a href="/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/login" class="btn">Login</a></li>
        <li><a href="/register" class="btn">Sign Up!</a></li>
        <% } %>
      </ul>
    </nav>
  </body>
</html>
