<%- include('../partials/header'); -%> <%- include('../partials/navbar'); -%>

<form style="margin-left: 10px; margin-right: 50px" action="/passwordMail">
  <h2>Reset Password</h2>
  <div class="reset error alert alert-info" id="reset-msg" role="alert">
    Enter your email and we will send you a reset link.
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" name="email" class="form-control" placeholder="example@gmail.com" required />
  </div>
  <button class="btn btn-primary">Send reset link</button>
  <a style="margin-left: 10px" href="/">Home</a>
</form>

<script>
  const alertDiv = document.getElementById("reset-msg");
  const form = document.querySelector("form");
  form.addEventListener("submit", async e => {
    e.preventDefault();
    const email = form.email.value;
    try {
      alertDiv.className = "reset error alert alert-info";
      alertDiv.textContent = "Sending reset link...";
      const { data } = await axios.post("/passwordMail", { email });
      if (data.message) {
        alertDiv.className = "reset error alert alert-success";
        alertDiv.textContent = data.message;
      }
    } catch (err) {
      alertDiv.className = "reset error alert alert-danger";
      if (err.response && err.response.data) {
        const { hawkError } = err.response.data;
        if (hawkError && hawkError.msg) alertDiv.textContent = hawkError.msg;
      } else {
        alertDiv.textContent = err.message || "Something went wrong try again later...";
      }
    }
  });
</script>
